$bgcolor: #f8f9fa;
$chipcolor: #eb443f;
$textcolor: darkblue;
$fontsize: 18px;
//@media (min-width: 1200px) {
//  .container {
//    max-width: 982px;
//  }
//}
//@media (min-width: 787px) {
//  .container {
//    max-width: 787px;
//  }
//}
//@media (min-width: 450px) {
//  .container {
//    max-width: 450px;
//  }
//}

@mixin container-size {

  //@if $point == lg {
  //  @media (min-width: 70em) { max-width: 982px }
  //}
  //@else if $point == md {
  //  @media (min-width: 64em) { max-width: 787px }
  //}
  //@else if $point == xs {
  //  @media (min-width: 50em) {  max-width: 450px }
  //}
  //@media (max-width: 37.5em) { @content ; }
}

@mixin important-text {
  color: red;
  font-size: 25px;
  font-weight: bold;
  border: 1px solid blue;
}

@mixin copyright-text {
  padding: 0 5px 9px;
  font-size: 12px;
  color: #b1b1b1;
}

@mixin col-33{
  width: 33.3333%;
  position: relative;
  float: left;
}



body {
  background-color: red;
  text-align: center;
}

.container {
  text-align: center;
  width: 1200px;
  //@include container-size;
  background-color: #396c1b;
 }

.container .col-4 {
  @include col-33;
}

.wrapper {
  max-width: 450px;
  box-sizing: border-box;
  background-color: #718C00;
  padding: 10px;
  margin: 10px;
  //border: 1px solid #6c6c6c;
}

.copyright {
  @include copyright-text;
  background-color: green;
}

.artikel-liste {
  padding: 0px;
}


//div.wrapper > div {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 0;
//  right: 0;
//  overflow: hidden;
//}

img {
  vertical-align: middle;
  border: 0px;
  width: 100%;
}


figcaption {
  padding: 0.4em 0 0 0;
  line-height: 1.4;
  font-size: 15px * 0.2;
  color: #6c6c6c;
}

.thumbnail .copyright {
  padding: 0 5px 0px;
}

.thumbnail header {
  padding: 0px;
}


.text-right {
  text-align: right;
}


h1 .small {
  display: block;
  color: #000000;
  margin-bottom: 0.5em;
  font-size: 65%;
}

.block-with-text {
  color: #555555;
  padding: 0px 3px;
}

p {
  margin: 0px 7px 11px 7px;
}

article .thumbnail {
  max-height: 450px;
  max-width: 450px;
  padding: 0;
  margin: 0 0 1.5em 0;
  border-radius: 0;
  border: #dbdbdb solid 1px;
  transition: all .15s linear;
}

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

.column .thumbnail img {
  float: left;
  max-width: 200px;
  height: auto;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
