$whitecolor: #fff;
$bgcolor: #f8f9fa;
$linkcolor: #eb443f;
$linkhover: #a00013;
$textcolor: #555555;
$overlaycolor: #737373;
$errorcolor: #dc3545;
$successcolor: #155724;
$fontsize: 18px;


@mixin copyright-text {
  font-size: 12px;
  color: #b1b1b1;
}

@mixin modal-window {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: $overlaycolor;
}

@mixin close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 50px;
  font-weight: bold;
}

@mixin btn {
  padding: 5px 15px;
  margin: 0px 15px;
  background-color: $linkcolor;
  color: $whitecolor;
}

@mixin article-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #f1f1f1;
  min-height: 28em;
}

* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33.333%;
  padding: 0 10px;
  margin-bottom: 20px;
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  @include article-card;
}


/* Responsive columns */
@media only screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
  }
}

/* Responsive columns */
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .column {
    width: 50%;
    display: block;
  }
}

///* Responsive columns */
//@media  only screen and (min-width: 800px) and (max-width: 1200px) {
//  .card{
//    min-height: 27.5em;
//  }
//}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.thumbnail {
  max-width: 100%;
}


.container {
  padding: 5px;
  margin-right: auto;
  margin-left: auto;
  background-color: $bgcolor;
}

figure {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 10px;
  color: $linkcolor;
}

h3 {
  margin: 0px;
}

.article-text {
  padding: 10px 15px;
  text-align: left;
}

.article-text p {
  color: $textcolor;
  padding-bottom: 5px;
}

.article-details {
  padding: 15px;
}

.article-details p {
  color: $textcolor;
}


header {
  line-height: 1.2em;
  margin-top: 0.3em;
}

footer {
  text-align: left;
  padding: 10px 15px 5px 15px
}

a {
  color: $linkcolor;
  text-decoration: none;
  cursor: pointer !important;
}

a:hover {
  color: $linkhover;
}


.small {
  display: block;
  color: #000000;
  font-size: 70%;
  font-weight: normal;
}

.copyright {
  @include copyright-text;
  padding: 0px 5px;
  text-align: right;
}

/* The Modal (background) */
.modal {
  @include modal-window;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

/* The Close Button */
.close {
  @include close-btn;
  color: $whitecolor;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: $linkcolor;
  padding: 2px 16px;
  color: white;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}


.wrapper {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.article-details .wrapper img {
  width: 100%;
  margin: 10px 0px;
  border: 1px solid $overlaycolor;
}

.previous {
  @include btn;
}

.placeholder {
  width: 100%;
  height: 212px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("https://dummyimage.com/370x207/fff/aaa");
}

.related-article-text {
  text-align: left;
  padding: 15px;
  color: $textcolor;
}

.article-head {
  width: 100%;
}

.left-span {
  margin: 0px;
  float: left;
}

.right-span {
  margin: 0px;
  float: right;
}

.article-headline {
  float: left;
  clear: both;
}

.upload-from {
  max-width: 50%;
  text-align: center;
  margin: 20px auto;
}

.related-articles {
  .card {
    min-height: 25em;

    header {
      text-align: left;
      padding: 10px 15px;
    }
  }

  h3 span {
    color: $linkcolor;
  }
}

.upload-file {
  @include btn;
  background-color: $overlaycolor;
  width: 100%;
  float: left;
  padding: 5px;
}

.font-bold {
  font-weight: bold;
}

.text-muted {
  color: $overlaycolor;
}

.text-center {
  text-align: center;
}

.no-article {
  width: 100%;
}

.upload-area {
  width: 100%;
  margin: 10px 0px;

  h3 {
    color: $linkcolor;
  }

  .upload-btn {
    @include btn;
    float: left;
    padding: 3px 35px;
    margin-top: 3px;
    border: 0;
  }
}

form .upload-from ul li {
  text-decoration: none;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 90%;
  color: $linkcolor;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-success {
  color: $successcolor;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.fade {
  transition: opacity 0.15s linear;
}

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.75rem 1.25rem;
  color: inherit;
}

button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  appearance: none;
}

.close {
  float: right;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 0.8;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
}
.close:hover{
  background-color: $successcolor;
}