<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include 'default/flashMessages.html.twig' %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="{{ asset('build/runtime.js') }}"></script>
        {% endblock %}
    </body>
</html>
